#root {
  max-width: auto;
  margin: auto;
  padding: 2rem;
 
}
#para{
  color:white;
}

.card{
  margin: 2rem;
  justify-content: center;

}
.cards{
    
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    border: 1.2rem;
    background-color: rgb(131, 78, 222);
    padding: 0.5rem;
    margin:1rem;
    display: flex;
    justify-content:center;

}

